@font-face {
  font-family: "cerapro-reg";
  src: url("../fonts/CeraPro-Regular.ttf");
}
@font-face {
  font-family: "cerapro-bold";
  src: url("../fonts/CeraPro-Bold.ttf");
}

@font-face {
  font-family: "cerapro-black";
  src: url("../fonts/CeraPro-Black.ttf");
}
@font-face {
  font-family: "cerapro-medium";
  src: url("../fonts/CeraPro-Medium.ttf");
}

*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
  }    

html{
font-family:"cerapro-reg";
}
header{
max-width: 85%;
margin: 0 auto;
margin-bottom: 10px;
height: 45px;
border-bottom: 1px solid #46a358;
}

img {
max-width: 100%;
}

.header-container {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 25px;
}
.li-row {
  padding-bottom: 22px;
}
.outer-level-menu {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.outer-level-menu li {
  list-style: none;
  cursor: pointer;
  position: relative;
  
}
.outer-level-menu li:hover {
  border-bottom: 3px solid #46A358;
}
.outer-level-menu li:hover .inner-level-menu {
  opacity: 1;
  visibility: visible;
}
.inner-menu {
  position: absolute;
  min-width: 170px;
  transition: 0.6s ease-in-out;
  opacity: 0;
  visibility: hidden;
  font-size: 1rem;
  line-height: 30px;
  
}
.inner-level-menu {
  
  background-color: #EDF6EE;
  top: 43px;
  left: 50%;
  transform: translateX(-50%);
}
.inner-level-menu li:hover {
  background-color: #1A712A;
  color: #FFFFFF;

}
.inner-level-menu img {
  padding-left: 88px;
}

.inner-level-menu li:hover .third-level-menu {
  opacity: 1;
  visibility: visible;
}
.third-level-menu {
  display: flex;
  color: #3D3D3D;
  flex-direction: column;
  background-color: #EDF6EE;
  top:0;
  left: 100%;
  transform: translateY(-50%);
  font-size: 1rem;
  line-height: 30px;
  margin-left: 5px;
}

.login {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  width: 100px;
  height: 35px;
  background-color: #46a358;
  border-radius: 6px;
  text-decoration: none;
  color: #FFFFFF;
 
}
.login img {
  vertical-align: middle;
  padding-left: 15px;
}

.welcome-block {
max-width: 85%;
margin: 0 auto;
display: flex;
justify-content: space-between;
background-color: #F5F5F580;  
height: 450px;
}
.first-block {
display: flex;
flex-direction: column;
gap: 5px;
align-items: flex-start;
}

.second-block {
width: 40%;
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;

}
.second-block img {
max-width: 100vw;
max-height: 70vh;

}
.heading {
padding-top: 63px;
margin-left: 40px;
width: 205px; 
font-size: 0.8rem;
color: #3D3D3D;
font-weight: 500;
}
.subheading {
  width: 530px;
  font-family: "cerapro-black";
  font-weight: 900;
  font-size: 4.3rem;
  line-height: 70px;
  margin-left: 40px;
  }
.green-text {
  color: #46A358;
 }
.welcome-text {
  font-size: 0.8rem;
  font-weight: 400;
  color: #727272;
  margin-left: 40px;
  line-height: 24px;
 }
.button-shop {
  width: 140px;
  height: 40px;
  border: 1px solid;
  background-color: #46A358;
  font-family: "cerapro-bold";
  color: #FFFFFF;
  border-radius: 6px;
  border-style: none;
  margin-left: 40px;
  margin-top: 40px;
}
.main {
  max-width: 85%;
  margin:0 auto;
}
.general-content {
  display: flex;
  gap: 50px;
  margin-top: 40px;
}
aside {
  max-width: 26%;
  min-width: 310px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
}

.categories {
  background-color: #FBFBFB;
  padding: 14px 18px;
  padding-bottom: 350px;
  font-size: 0.9rem;
  line-height: 35px;
}
.category {
  font-family: "cerapro-bold";
  font-size:1.1rem;
}
.green-category{
  color: #46A358;
}

nav {
  display: flex;
  flex-direction: column;
}

nav a {
  padding: 8px 0 8px 12px;
  text-decoration: none;
  color: #3D3D3D;
}
.banner {
  
  display: flex;
  flex-direction: column;
  justify-content: center;  
  text-align: center;
}
.banner img {
  max-width:100%;
}
.right-side {
  max-width: 74%;
  display: flex;
  flex-direction: column;
  
}

.links-line {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 40px;

}
.greenlink-cont, .link-content-1, .link-content-2, .sort {
text-decoration: none;
font-size: 0.95rem;
}
.link-content-1, .link-content-2, .sort {
color: #3D3D3D;
}
.greenlink-cont {
color:#46A358 ;
border-bottom: 2px solid #46A358;
font-family: "cerapro-bold";
}
.sort {
margin-left: auto;
}

.cards {
  margin-top: 31px;
  display: flex;
  gap: 40px;
  flex-wrap: wrap;
}

.card {
  width: calc(33.333% - 40px);
  border-top: 2px solid transparent;
}
.card:hover .card-btns{
  opacity: 1;
  visibility: visible;
}
.card:hover {
  border-top: 2px solid #46A358;
}
.card-image {
  padding: 30px 10px;
  background-color: #FBFBFB;
  position: relative;
  
}
.card-image img {
  width: 100%;
}

.card-btns {
  display: flex;
  position:absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  visibility: hidden;
  transition: 0.6s ease;
  max-width: 100%;
}
.card-btns img {
  max-width: 100%;
  padding: 6px;
  background-color: #FFFFFF;
  border-radius: 4px;
  margin: 5px;
  cursor: pointer;
}
.card-sale {
  position: absolute;
  top: 14px;
  left: 0;
  border: 1px solid #46A358;
  background-color: #46A358;
  width: 80px;
  height:29px ;
}
.card-sale p {
  padding-top: 3px;
  text-align: center;
  color: #FFFFFF;
  font-size: 1rem;
}
.price span {
  margin-left: 16px;
  color:#A5A5A5 ;
  text-decoration: line-through;
  font-size: 1.13rem;
  font-weight: 400;
  text-decoration-thickness: 1px;
}


.card-desk {
font-size: 1rem;
line-height: 16px;
color:#3D3D3D ;
font-weight: 400;
padding-top: 14px;
}

.price {
 font-size: 1.13rem;
 line-height: 16px;
 color:#46A358 ;
 font-weight: 700;
 padding-top: 7px;
 margin-bottom: 70px;
}

.footer-section {
max-width: 85%;
display: flex;
margin: 0 auto;
align-items: end;

}
.pages-list {
display: flex;
justify-content: space-between;
align-items: end;
margin-left: auto;

}
.page,.greenpage, .img-btn {
display: flex;
justify-content: space-between;
align-items: end;
color: #3D3D3D;
float: left;
padding: 3px 11px;
text-decoration: none;
border: 1px solid #E5E5E5; 
margin: 0 4px;
border-radius: 5px;
font-size: 16px;
     }

.img-btn {
     border: 1px solid #E5E5E5; 
     margin: 0 4px;
     border-radius: 5px; 
     padding: 7px 11px;
}

.greenpage {
     color: #E5E5E5;
     background-color: #46A358;
}


.main-blog{
max-width: 85%;
margin:0 auto; 
}
.products {
max-width: 100%;
margin-top: 94px;
display: flex;
justify-content: space-between;
gap: 30px;

}
.product {
  display: flex;
  align-items: center;
  width: calc(100% - 30px);
  
}

.product-img{
  height: 100%;
  object-fit: cover;
  display: block;
  width: 45%;
  
  
}

 .product-details {
  width: 55%;
  display: flex;
  justify-content:space-between;
  align-items: end;
  flex-direction: column;
  
}

 .title {
  font-family: "cerapro-black";
  font-weight: 900;
  font-size: 1.15rem;
  line-height: 24px;
  text-align: right;
  text-transform: uppercase;
  color: #3d3d3d;
  width: 170px;
}

.text-title {
  font-weight: 400;
  font-size: 0.88rem;
  line-height: 24px;
  text-align: right;
  color: #727272;
  width: 312px;
  margin: 16px 0;
}
.button {
  vertical-align: middle;
  border: 1px solid;
  background-color: #46A358;
  font-family: "cerapro-medium";
  color: #FFFFFF;
  border-radius: 6px;
  border-style: none;
  margin-left: 43px;
  margin-top: 20px;
  width: 140px;
  height: 40px;
  }
.image-right {
  max-width: 100%;
  margin: 0 auto;
  vertical-align: middle;
  }

  .blog-logo {
    margin-top: 138px;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }
  .blog-heading {
    font-family: "cerapro-bold";
    color: #3D3D3D;
    font-size: 1.8rem;
    line-height: 16px;
    width: 209px;
  }
  .blog-subheading {
    color: #727272;
    font-size: 0.87rem;
    line-height: 24px;
    margin-bottom: 35px;
  }

  .blog-parts {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    flex-wrap: nowrap;
    margin-bottom: 100px;
  }
.blog-part {
width: calc(25% - 35px);
min-height: 300px;  
display: flex;
flex-direction: column;  
}
 
  .blog-image {
      max-width: 100%;
      background-color: #FBFBFB;    
      margin: 0 auto;
  }
  .blog-image img{
    object-fit: cover;
  
  }
  .blog-details{
    background-color: #FBFBFB;
    display: flex;
    flex-direction: column;
    max-width: 100%;
    margin: 0 auto;
  }
  .blog-title {
    font-family: "cerapro-bold";
    color:#3D3D3D;
    font-size: 1.25rem;
    line-height: 26px;
    margin-top:4px ;
    margin-left: 15px;
    width: 220px;
    height: 50px;
  }
  .blog-text {
    color: #727272;
    font-size: 0.88rem;
    font-weight: 400;
    line-height: 24px;
    margin-top: 4px;
    margin-left: 15px;
    width: 255px;
    height: 60px;
  }
  .subtext {
    margin-top: 9px;
    margin-left: 15px;
    font-family: "cerapro-medium";
    color:#46A358;
    font-size: 0.87rem;
    background-color: #FBFBFB;
  }
  .blog-link{
    text-decoration: none;
    font-size: 0.87rem;
    color: #3D3D3D;
    line-height: 16px;
    margin-top: 9px;
    margin-bottom: 10px;
    margin-left: 15px;
    font-family: "cerapro-medium";
  }